<div class="container">
  <h2>提供会員一覧</h2>
  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">
      <table class="table">
        <thead>
          <tr class="table-active">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th><th></th>
          </tr>
        </thead>

        <tbody>
          <% @providers.each do |provider| %>
          <tr>
            <td><%= provider.id %></td>
            <td><%= link_to provider.last_name + provider.first_name, admins_provider_path(provider.id) %></td>
            <td><%= provider.email %></td>
            <td id="provider_status_buttons_<%= provider.id %>">
            <%= render 'admins/providers/provider_statuses', provider: provider %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
