<div class="container">
  <h2>駐車場一覧</h2>
  <!--検索フォーム-->
  <div><%= render 'searches/search' %></div>
  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">
      <table class="table">
        <thead>
          <tr class="table-active">
            <th>駐車場ID</th>
            <th>駐車場名</th>
            <th>郵便番号</th>
            <th>住所</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @parkings.each do |parking| %>
          <tr>
            <td><%= parking.id %></td>
            <td><%= link_to parking.name, providers_parking_path(parking) %></td>
            <td><%= parking.zip_code %></td>
            <td><%= parking.address %></td>
            <td id="parking_status_buttons_<%= parking.id %>">
            <%= render 'admins/parkings/parking_statuses', parking: parking %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
