<div class="container" style="height: 600px">
  <h3 class="my-5">マイページ</h3>
  <div class="row mt-10 ml-1">
    <h3>登録情報</h3>
    <% if @customer.email != 'guest@example.com' %>
      <%= link_to "編集する", edit_customers_customer_path(@customer), class: 'btn btn-success' %>
    <% end %>
  </div>
  
  <div class='row justify-content-center my-5'>
    <div class='col-10'>
      <table class= "table table-bordered">
        <thead>
          <tr>
            <th>名前</th>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
              <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
              <td><%= @customer.zip_code %></td>
          </tr>
          <tr>
            <th>住所</th>
              <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
              <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
              <td><%= @customer.email %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <h3>レンタル履歴</h3>
  <div class="row justify-content-center my-5">
    <div class='col-10'>
     
      <table class= "table table-bordered">
        <thead>
          <tr>
            <th>レンタルID</th>
            <th>レンタル年月日</th>
            <th>レンタル料金</th>
            <th>レンタル駐車場名</th>
            <th>レンタル詳細</th>
            <th>ステータス変更フォーム</th>
            <th>レンタルステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @rentals.each do |rental| %>
            <tr>
              <td><%= rental.id %></td>
              <td><%= rental.rental_at.strftime("%Y年%-m月%-d日")%></td>
              <td>¥<%= rental.total_payment %>円</td>
              <td><%= rental.parking.name %></td>
              <td><%= link_to "詳細", customers_rental_path(rental.id), class: 'btn btn-success' %></td>
              <td>
                <%= form_with model: @rental, url: customers_rental_path(rental.id), method: :patch do |f| %>
                <%= f.select :status, [['待機中',0],['レンタル中',1], ['レンタル済み',2], ['キャンセル',3]], {}, {'onChange'=>'javascript: this.form.submit()'} %>
                <% end %>
              </td>
              <td><%= rental.status_i18n %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @rentals %>
      </div>
    </div>
</div>
  