<div class="container sm-mt-5 mb-5">
  <div class="row">
  <h3 class="col-sm-mb-4"><strong>マイページ</strong></h3>
  </div>
  <div class="container">
    <div class="row">
      <h5>登録情報</h5>
        <% if current_customer.email != 'guest@example.com' %>
        <%= link_to "編集する", edit_customers_customer_path(current_customer), class: 'btn btn-success' %>
        <% end %>
    </div>
  
    <div class='col-12'>
      <table class= "table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>名前</th>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
              <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
              <td><%= @customer.zip_code %></td>
          </tr>
          <tr>
            <th>住所</th>
              <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
              <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
              <td><%= @customer.email %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  
    <div class="container">
      <div class="row">
        <h5>レンタル履歴</h5>
      </div>
          <div class='col-12'>
           <table class= "table table-bordered">
             <% @rentals.each do |rental| %>
              <tr>
                <td><%= rental.id %></td>
                <td><%= rental.rental_at.strftime("%Y年%-m月%-d日")%></td>
                <td>¥<%= rental.price %>円</td>
                <td><%= rental.parking.name %></td>
                <td><%= link_to "詳細", customers_parking_path(rental.id), class: 'btn btn-success' %></td>
                <td><%= rental.status_i18n %></td>
                <td><%= link_to "キャンセル", cancel_customers_rental_path(rental.id), method: :post, class: 'btn btn-success' %></td>  
              </tr>
            <% end %>
            </table>
            <%= paginate @rentals %>
          </div>
      </div>
</div>
  