<div class="container">
  <h2>レンタル会員一覧</h2>
  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">
      <table class="table">
        <thead>
          <tr class="table-active">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th><th></th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.last_name + customer.first_name, admins_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td id="status_buttons_<%= customer.id %>">
            <%= render 'admins/customers/statuses', customer: customer %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
