<div class="container my-5" style="height: 600px">
  <div class="row">
    <h3>注文情報確認</h3>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class=col-12>
        <table class='table table-bordered'>
          <thead class="thead-light">
            <tr><th>日付</th><th>駐車場名</th><th>単価（税込）</th><th>台数</th><th>小計</th></tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @rental.rental_at.strftime("%Y年%-m月%-d日") %></td>
              <td><%= @parking.name %></td>
              <td><%= @parking.with_tax_price %>円</td>
              <td><%= @parking.amount %>台</td>
              <td><%= @parking.with_tax_price %>円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class='row my-5'>
    <div class="provover-show-line text-center coler:white">
    <h5><strong>支払い方法</strong></h5>
    </div>
    <%= @rental.payment_method_i18n %>
  </div>
  
  <div class='row my-5'>
    <div class="provover-show-line text-center coler:white">
    <h5><strong>ご自身の住所<strong></h5>
    </div>
    〒<%= @customer.zip_code %>
    <%= @customer.address %>
     <%= @customer.last_name %>
  </div>
  <div class='row my-5'>
    <%= form_with model:@rental ,url: customers_rentals_path, method: :post do |f| %>
      <%= f.hidden_field :parking_id, value: @parking.id %>
      <%= f.hidden_field :total_payment, value: @total %>
      <%= f.hidden_field :payment_method, value: @rental.payment_method %>
      <%= f.hidden_field :rental_at, value: @rental.rental_at %>
    <%= f.submit "注文を確定する", class:'btn btn-success' %>
    <% end %>
  </div>
</div>
