<div class="container">
  <div class="row">
    <h3>レンタル履歴一覧</h3>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>レンタル日</th>
            <th>駐車場名</th>
            <th>住所</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @rental.each do |rental| %>
            <tr>
              <td><%= rental.rental_at %></td>
              <td><%= rental.name %></td>
              <td><%= rental.address %></td>
              <td><%= rental.total_payment %></td>
              <td><%= rental.status_i18n %></td>
              <td><%= link_to '表示する', order_path(order.id),class:'btn btn-primary' %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>