<div class="container">
  <div class="row">

    <div class="mt-3">
      <h3>注文情報入力</h3>
    </div>
    </div>
    <%= form_with model: @rental, url: confirm_customers_rentals_path(parking_id: @parking.id), method: :post do |f| %>
    <div class="row">
      
        <div class="mt-2">
          <div>
            <h5><strong>レンタルする日付</strong></h5>
          </div>
          <div class="ml-4">
            <%= f.date_field :rental_at, min: Time.zone.now, class: "h-12 rounded-[3px] text-[#333333] font-bold invalid:text-line-200" %>
          </div>
          <div>
            <h5><strong>支払い方法</strong></h5>
          </div>
        <div class="ml-4">
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method_transfer, "銀行振込" %><br>
        </div>
        
        <div>
            <h5><strong>ご自身の住所</strong></h5>
        </div>
        <div class="ml-4">
          <table>
            <tr>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td><br>
            〒<td><%= @customer.zip_code %></td>
              <td><%= @customer.address %></td>
              <td><%= link_to "編集する", edit_customers_customer_path(@customer), class: 'btn btn-success' %></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
  <div class="text-center mt-4 mb-5">
  <!--注文情報確認画面へ-->
    <%= f.submit "確認画面へ進む", class: "btn btn-primary"%>

  </div>
  <% end %>
</div>
