<div class="container my-5">
  <h3>注文情報入力</h3>
  <div class="row justify-content-center">
    <%= form_with model: @rental, url: confirm_customers_rentals_path(parking_id: @parking.id), method: :post do |f| %>
    <div class="col-12">
      <div class="row my-5">
        <div class="hometop-line col-4 my-5">
          <h5><strong>レンタルする日付</strong></h5>
        </div>
        
        <div class="col-5 my-5 text-right">
          
          <%= f.date_field :rental_at, min: Time.zone.now, class: "h-12 rounded-[3px] text-[#333333] font-bold invalid:text-line-200" %>
        </div>
      </div>
      
      <div class="row">
        <div class="hometop-line text-center col-4">
          <h5><strong>支払い方法</strong></h5>
        </div>
        <div class="col-5 text-right">
          <table>
            <tr>
              <td><%= f.radio_button :payment_method, "credit_card" %></td>
              <td><%= f.label :payment_method_credit_card, "クレジットカード" %></td>
              <td><%= f.radio_button :payment_method, "transfer" %></td>
              <td><%= f.label :payment_method_transfer, "銀行振込" %></td>
            </tr>
          </table>
        </div>
      </div>
        
      <div class="row">
        <div class="hometop-line text-center col-4 my-5">
          <h5><strong>ご自身の住所</strong></h5>
        </div>
        <div class="col-10 my-5 text-right">
          <table>
            <tr>
              <td >〒<%= @customer.zip_code %></td>
              <td><%= @customer.address %></td>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td>
              <td><%= link_to "編集する", edit_customers_customer_path(@customer), class: 'btn btn-success' %></td>
            </tr>
          </table>
        </div>
      </div>
      
    </div>
    <div class="text-center mt-4 mb-5">
    <!--注文情報確認画面へ-->
    <%= f.submit "確認画面へ進む", class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>
