<div class="container text-center sm-mt-5 mb-5">
  <div class="row">
    <h3 class="col-sm-mb-4"><strong>レンタル詳細</strong></h3>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class= "table table-bordered">
          <thead class="thead-light">
          <tbody>
            <tr>
              <th style="width: 30%">駐車場名</th>
              <td style="width: 70%"><%= @parking.name %></td>
            </tr>
            
            <tr>
              <th style="width: 30%">郵便番号</th>
              <td style="width: 70%"><%= @parking.zip_code %></td>
            </tr>
            
            <tr>
              <th style="width: 30%">住所</th>
              <td style="width: 70%"><%= @parking.address %></td>
            </tr>
            
            <tr>
              <th style="width: 30%">台数</th>
              <td style="width: 70%"><%= @parking.amount %></td>
            </tr>
            
            <tr>
              <th style="width: 30%">駐車場説明 </th>
              <td style="width: 70%"><%= @parking.description %></td>
            </tr>
            
            <tr>
              <th style="width: 30%">車種</th>
              <td style="width: 70%">
                
                <% @parking.car_models.each do |car_model| %>
                <%= car_model.name %>
                <% end %>
              </td>
            </tr>
            
             <tr>
              <th style="width: 30%"> 税込価格<br>(税抜価格)</th>
               <td style="width: 60%"><%= @rental.with_tax_price.to_s(:delimited) %>(<%= @rental.price.to_s(:delimited) %>)円
            </tr>
            
            <tr>
              <th style="width: 30%">販売ステータス</th>
              <td style="width: 70%"><%= @parking.is_active ? "販売中" : "販売停止"%></td>
            </tr>
            
          </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>