<div class="container" style="height: 600px;">
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <h3>駐車場新規登録</h3>
    </div>

    <div class="col-md-6 mx-auto">
      <%= form_with model: @parking, url: providers_parkings_path do |f| %>
      <table class="table table-borderless mt-3">
        <tbody>
          
          <tr>
            <td><%= f.label "駐車場名" %></td>
            <td><%= f.text_field :name, class: "form-control", :placeholder => "駐車場名" %></td>
          </tr>
          
          <tr>
            <th><%= f.label "郵便番号" %></th>
            <td><%= f.text_field :zip_code, class: "form-control", :placeholder => "000000" %></td>
          </tr>
          
          <tr>
            <th><%= f.label "住所" %></th>
            <td><%= f.text_field :address, class: "form-control", :placeholder => "〇〇県〇〇市〇〇区" %></td>
          </tr>
          
          <tr>
            <th><%= f.label "台数" %></th>
            <td><%= f.text_field :amount, class: "form-control", :placeholder => "1" %></td>
          </tr>
          
          <tr>
            <td><%= f.label "駐車場説明" %></td>
            <td><%= f.text_area :description, class: "form-control", :placeholder => "ここに説明文を記述します" %></td>
          </tr>
          
          <tr>
            <td><%= f.label "車種" %></td>
            <!--コレクションチェックボックスで駐車可能車種登録フォーム作成-->
            <td>
              <%= f.collection_check_boxes(:car_model_ids, CarModel.all, :id, :name) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>
            </td>
            </tr>
          
          <tr>
            <td><%= f.label '税抜価格' %></td>
            <td>
              <div class="input-group">
                <%= f.text_field :price, class: 'form-control' , :placeholder => "1000" %>
                <span class="input-group-text">円</span>
              </div>
            </td>
          </tr>
          
          <tr>
            <td><%= f.label "販売ステータス" %></td>
            <td>
              <%= f.radio_button :is_active, true %>
                <%= f.label :is_active, '販売中' %>
              <%= f.radio_button :is_active, false %>
                <%= f.label :is_active, '販売停止中' %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="mb-5 mx-auto">
            <%= f.submit "新規登録", class:'btn btn-lg btn-success' %>
          </div>
        </div>
      </div>
      <% end %>
      
    </div>
  </div>
</div>