<div class="container">
  <div class="row justify-content-center">
    <h3>駐車場詳細</h3>
    
    <div class="col-10">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tbody>
            <tr>
              <th>商品名</th>
              <td><%= @parking.name %></td>
            </tr>
            
            <tr>
              <th>郵便番号</th>
              <td><%= @parking.zip_code %></td>
            </tr>
            
            <tr>
              <th>住所</th>
              <td><%= @parking.address %></td>
            </tr>
            
            <tr>
              <th>台数</th>
              <td><%= @parking.amount %></td>
            </tr>
            
            <tr>
              <th>商品説明 </th>
              <td><%= @parking.description %></td>
            </tr>
            
            <tr>
              <th>車種</th>
              <td>
                <% @parking.car_models.each do |car_model| %>
                <%= car_model.name %>
                <% end %>
              </td>
            </tr>
            
             <tr>
              <th> 税込価格<br>(税抜価格)</th>
               <td><%= @parking.with_tax_price.to_s(:delimited) %>(<%= @parking.price.to_s(:delimited) %>)円
            </tr>
            
            <tr>
              <th>販売ステータス</th>
              <td>
                <% if @parking.is_active == false %>
                  <strong class="text-secondary">販売停止中</strong>
                 <% else %>
                  <strong class="text-success">販売中</strong>
                <% end %>
              </td>
            </tr>
        </thead>
      </table>
      
      <div class="row justify-content-center">
        <%= link_to "編集する", edit_providers_parking_path(@parking.id),class: "btn btn-lg btn-success" %>
      </div>
      
    </div>
  </div>
  </div>
</div>