<div class="container">
  <h3>マイページ</h3>
  
  <div class="row my-4">
    <h3>登録情報</h3>
    
    <div class='col-10'>
      <%= link_to "編集する", edit_provider_path(@provider), class: 'btn btn-success' %>
    </div>
  </div>
  
   <div class='col-10'>
    <table class= "table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>名前</th>
            <td><%= @provider.last_name %> <%= @provider.first_name %></td>
        </tr>
        <tr>
        <th>カナ</th>
          <td><%= @provider.last_name_kana %> <%= @provider.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
            <td><%= @provider.zip_code %></td>
        </tr>
        <tr>
          <th>住所</th>
            <td><%= @provider.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
            <td><%= @provider.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
            <td><%= @provider.email %></td>
        </tr>
      </thead>
    </table>
  </div>
  
  <div class="row my-3">
    <h3>提供駐車場</h3>
      <div class='col-10'>
        <!--駐車場のeach文-->
        
        <%= link_to "詳細を見る", parking_path(@parking), class: 'btn btn-primary' %>
      </div>
  </div>
  
  <div class="row my-3">
    <h3 >提供履歴</h3>
      <div class='col-10'>
        <%#= link_to "一覧を見る", rentals_path, class: 'btn btn-primary' %>
      </div>
  </div>
  
  </div>
</div>