<!DOCTYPE html>
<html>
  <head>
    <title>ParkMe</title>
      <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
      <script src="https://kit.fontawesome.com/b8df303df0.js" crossorigin="anonymous"></script>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  
  <body class="wrap">
    
    <main class="mb-auto">
      <%= render 'layouts/header' %>
      <div class="back_image"></div>
      <div id="flash_message"><%= render 'customers/shared/flash_message' %></div>
      
    <%= yield %>
    
    </main>
  
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
