<!DOCTYPE html>
<html>
  <head>
    <title>ParkMe</title>
      <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
      <script src="https://kit.fontawesome.com/b8df303df0.js" crossorigin="anonymous"></script>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
  
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
    <body>
      <main class="mb-auto">
        <%= render 'layouts/header' %>
        <div class="back_image"></div>
        <div id="flash_message"><%= render 'customers/shared/flash_message' %></div>
        
      <%= yield %>
      
      </main>
      <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container-fluid mt-auto">
          <!--text-centerで中央寄せ pt-3=padding topが1rem-->
          <div class="text-center pt-3">
            <!--twitterのtopページurlとアイコン-->
            <%= link_to "https://twitter.com/", class: "text-decoration-none" do %>
              <!--twitterのアイコン　mutedカラー-->
              <i class="fab fa-twitter-square h2 text-muted"></i>
            <% end %>
        
            <%= link_to "https://www.facebook.com/", class: "text-decoration-none" do %>
              <!--facebookのアイコン　mutedカラー-->
              <i class="fab fa-facebook h2 text-muted"></i>
            <% end %>
        
            <%= link_to "https://www.instagram.com/", class: "text-decoration-none" do %>
              <!--instagramのアイコン　mutedカラー-->
              <i class="fab fa-instagram-square h2 text-muted"></i>
            <% end %>
        
            <%= link_to "https://line.me/ja/", class: "text-decoration-none" do %>
              <!--lineのアイコン　mutedカラー-->
              <i class="fab fa-line h2 text-muted"></i>
            <% end %>
          </div>
          <!--text-centerで中央寄せ　mutedカラー-->
          <p class="text-center text-muted">©Copyright 2023 ParkMe ALL Rights reserved.</p>
        </div>
      </footer>
    </body>
</html>
